.giallo { 
	background-color: #fda403; 
}
	
.arancione { 
	background-color: #e8751a; 
}

.rosa { 
	background-color: #c51350; 
}

.viola { 
	background-color: #8a1253; 
}

.violaScuro {
    background-color: #3c0e60;
}

.blu {
    background-color: #0e1960;
}

