* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
    }

 selector:pseudo-class {
      property:value;
    }


.navbar {
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar ul li {
    display: inline;
    float: right;
    margin-right: 20px;
    padding: 16px 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
  }

a:link {
  color: rebeccapurple;
}

a:hover {
  color: blue;
}

a:active {
  color: palevioletred;
}


  body {
    background-image: url(439751.jpg);
  }

  .primo_div {
    position:relative;
    top: 160px;
  }

  .benvenuti {
    color:beige;
    text-align: center;
    margin: 0 auto;
    padding: 40px;
    width:65vw;
    height: 75vh;
  }

  .button{
    background-color: rgb(240, 240, 240);
    display: block;
    margin: 0 auto;
    box-shadow: 5px 4px 0px 0px #000000;
    padding: 15px 20px;
    font-size: 15px;
}

  h1 {
    padding: 20px;
  }

  h2 {
    text-align: center;
  }

  h3 {
    padding: 10px;
  }

.servizi {
    background-color: #000000;
    color:beige;
    padding: 45px;
    margin: 0 auto;
    position:relative;
    width: 80%;
    top: 200px;
}

.contatti {
    background-color: white;
    margin: 0 auto 450px auto;
    padding: 30px;
    width:45vw;
    height: 450px;
    position:relative;
    top: 300px;
    box-shadow: 8px -10px 10px 5px #8D5EFF;

}

.form-group{
    margin-bottom: 20px;

 }

input {
    width: 95%;
}

textarea {
    width: 95%;
}



.footer {
    position:fixed;
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: rebeccapurple;
    color: white;

  }

  .footer li {
    margin-right: 20px;

    font-size: 16px;
    font-weight: 700;
    list-style: none;
  }

  .social {
    float: right;
    text-align: center;
    position: relative;
    right: 150px;
    margin-right: 20px;
    padding: 5px 5px;
  }

  .txt {
    float: right;
    position: relative;
    right: 34%;
    text-align: center;
    padding: 5px 5px;
  }

  .contact {
    float: left;
    text-align: center;
    position: relative;
    left: 150px;
    padding: 5px 5px;
  }
